div
    div.searchcards.container.mt1
        div.filter(style="padding: .5rem 1rem;")
            div.sectionDiv.form-section.gc-r1
                div
                    h4.ml1 Filter Cards
                div
                div(style="position: relative;")   
                    button.btn-standard.card-collapse Search &#9660;
            div.filterDiv.form-section.gc-r1.none
                div.filterInputs
                    label.inline-label.w40(for="ticketnumberS") Ticket Number:
                    input.w60#ticketnumberS(type="search", name="ticketnumber")
                div.filterInputs
                    label.inline-label.w40(for="jobnumberS") Job Number:
                    input.w60#jobnumberS(type="search", name="jobnumber")
                div.filterInputs
                    label.inline-label.w40(for="ticketstatusS") Ticket Status:
                    input.w60#ticketstatusS(type="search", name="ticketstatus")
                div.filterInputs
                    label.inline-label.w40(for="machinetypes") Machine Type:
                    input.w60#machinetypes(type="search", name="machinetype")
                div.filterInputs
                    label.inline-label.w40(for="problemcatagorys") Problem Category:
                    input.w60#problemcatagorys(type="search", name="problemcatagory")
                div.filterInputs
                    label.inline-label.w40(for="partsS") Parts:
                    input.w60#partsS(type="search", name="part")
                div.filterInputs
                    label.inline-label.w40(for="resolutionS") Resolution:
                    input.w60#resolutionS(type="search", name="resolution")
                div.filterInputs
                    label.inline-label.w40(for="notesS") Notes:
                    input.w60#notesS(type="search", name="notes")
                div.filterInputs
                    label.inline-label.w40(for="createdAtS") Created At:
                    input.w60#createdAtS(type="search", name="createdAt")
                div.filterInputs
                    label.inline-label.w40(for="createdByS") Created By:
                    input.w60#createdByS(type="search", name="createdBy")
                div.filterInputs
                    label.inline-label.w40(for="cityS") City:
                    input.w60#cityS(type="search", name="city")
                div.filterInputs
                    label.inline-label.w40(for="stateS") State:
                    input.w60#stateS(type="search", name="state")

