.side-bar
    .sb
        .nav-btn
            a.nav-link(href='/') Home
        
        .nav-btn
            a.nav-link(href='/dashboard') Dashboard

        .nav-btn
            a.nav-link(href='http://oasiswebserver.oasis2m19.local:3001/csv' target="_blank") Fault Troubleshooter

        .nav-btn
            a.nav-link(href='http://oasiswebserver.oasis.local/oasis/' target="_blank") Oasis.Local

        .nav-btn
            a.nav-link(href='http://oasiscws.com' target="_blank") OasisCWS.com
        
        .nav-btn(id="toggle-color") Toggle Theme

        if !user
            .nav-btn
                a.nav-link(href='/users/login') Sign-In
        if user
            .nav-btn
                a.nav-link(href='/users/login') Sign-Out
        if !user
            .nav-btn
                a.nav-link(href='/users/register') Register Account
